<app-grid [data]="dataSource"
          [columns]="displayedColumns"
          (selected)="dataSelected($event)"
>
  <div header>
    <mat-form-field>
      <input matInput type="text" placeholder="Name" [(ngModel)]="appName">
    </mat-form-field>
    <button mat-mini-fab [disabled]="!appName?.length > 0">
      <mat-icon (click)="addApplication()">add</mat-icon>
    </button>
    <button mat-mini-fab [disabled]="!selectedData?.selected?.length > 0">
      <mat-icon (click)="deleteApplications(selectedData)">delete</mat-icon>
    </button>
  </div>
</app-grid>
